---
# GitHub Actions workflow for Docker image building and testing
# Builds Docker image when Dockerfile or related files are modified
# https://docs.docker.com/
name: docker-image

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths:
      - .dockerignore
      - .github/workflows/docker-image.yml
      - Dockerfile
      - entrypoint.sh
  push:
    branches:
      - main
    paths:
      - .dockerignore
      - .github/workflows/docker-image.yml
      - Dockerfile
      - entrypoint.sh

permissions: read-all

jobs:
  docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Build test
        run: docker build . --file Dockerfile
