name: tests

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - tests/**
      - .github/workflows/tests.yml
      - entrypoint.sh
      - Dockerfile
      - .dockerignore
  push:
    branches:
      - main
    paths:
      - tests/**
      - .github/workflows/tests.yml
      - entrypoint.sh
      - Dockerfile
      - .dockerignore

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run tests
        run: ./run_tests.sh
        working-directory: ./tests/
