name: yamllint

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - '**.yml'
      - '**.yaml'
  push:
    branches:
      - main
    paths:
      - '**.yml'
      - '**.yaml'

jobs:
  yamllint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: yamllint
        uses: ibiqlik/action-yamllint@v3
